

.greetings{
    color:#C66AFF;
}

.ready-quote{
    font-size:25px;
}
.begin{
    font-size: 25px;
    color:#00FFA5;
}
.welcome-container{
    margin:auto;
    text-align: center;
}

.what-to-do {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size:1.4em;
}
.instructions {
    font-size:1.3em;
    font-family: 'Encode Sans Expanded', sans-serif;
}