.lesson-box{
    margin:auto;
    text-align: center;
    display: block;

}

.lesson-name{
    color:#FF0DFF
}
.next-link {
}

#answer{
    display:block; 
    margin:auto;
    margin-top:10px;
    margin-bottom:3px;
    border:none;
    text-align: center;
    border-bottom:1px solid black;
    outline:none; 
}

.actual-question{
    color:#00FFA5;
    font-size:30px
}
.correct-count{
    font-size:25px;
    margin-top:5px;
    margin-bottom:20px
}

.lesson-name{
    font-size:40px;
    margin-top:60px;
}

#hint{
    display:block; 
    margin:auto;
    margin-top:10px;
    margin-bottom:0;
    border:none;
    text-align: center;
    outline:none; 
    width:100px;
    
   
}

p.hint{
     font-size:20px;
     margin-top:10px;
     color:#308BFF;
}
.special-characters-heading{
    margin-top:10px;
    margin-bottom:0;
    color:#FFAB3D;
}
.special-characters{
    font-size:20px;
    margin-top:0;
    margin-bottom:60px;
}

#button{
    /* float:right;
    bottom:left; */
    margin-top:20px;
    margin-bottom:15px;
    background: none;
}
p.special{
    display:inline;
    font-size:3vw;
}
@media (min-width: 720px){
    .lesson-name{
        font-size:5vw;
        margin-bottom:30px;
    }
    .actual-question{
        font-size:3vw;
        margin-top:0;
    }
    .special-characters-heading{
        font-size:3vw;
    }
    p.hint{
        font-size:2vw;
   }
   #hint{
        font-size:2vw; 
        width:50%
   }
   #answer{
        font-size: 1.6vw;
   }
   #button{
        color:#00FFA5
       
   }
}