
.login-box {
    text-align:left;
    font-size:3vw;
}

button{
    background:none;
}
.about-us {
    margin:auto;
    text-align:center;
}
ul{
    padding-left:0;
}
li {
    display:inline;
    list-style: circle;
    text-align: center
}
li:before{
    content:'\00B7';
    padding-right:5px;
    margin-left:5px;
}
h1{
    margin-bottom:0;
    margin-top:0;
}

label {
    font-family: 'Encode Sans Expanded', sans-serif;
}
.login-label{
    font-family: 'Encode Sans Expanded', sans-serif;
}

.form-control, .password, .confirmPassword, .form{ 

    color:black;
    font-family: 'Encode Sans Expanded', sans-serif;

}
.signup-form {
    margin-top:50px;
}
.password-fields {
    margin-bottom:10px
}

.about-container{
    margin:auto;
}

.form-group1 {
    margin-left: 35px;
    margin-bottom:10px;
}

.form-group2 {
    margin-bottom:10px;
}
.aboutUs{
     color:#FF0DFF;
     letter-spacing:1px
}
.login-form {
    padding:5px;
}
.actual-question{
    color:#00FFA5
}

.btn{
    color:#00FFA5
}
.about-heading{
    margin-top:0;
    font-size:40px;
    margin-bottom:0
}

.pure-control-group {
    margin-bottom:10px;
}

.come-heading{
    margin-top:40px
}



.email {
    margin-left:45px;
}

.cpassword {
    margin-left:-60px;
    display:inline-block
}


.password1 {
    margin-left:7px
}
@media (min-width: 720px){
    .login-button {
        font-size:25px;
    }
    .start-button{
        font-size:25px;
    }
}

@media(min-width:1020px) {
    .login-botton{
        font-size:2vw;
    }
}

@media(min-width:1199px) {
    .signup-form {
        margin-top:60px;
    }
}

@media (max-width: 425px){
   .form-group1 {
    margin:auto;
   }

   .signup-form {
        width:70%;
        margin:auto;
        display:inline-block;
        margin-top:50px
   }

   .email {
    margin:auto;
    }

    .cpassword {
        margin:auto;

    }


    .password1 {
        margin:auto;
    }
}
/* @media(max-width:620px) {
    .cpassword {
        padding-left:50px
    }
} */