
.login-box {
    text-align:left;
}

button{
    background:none;
}
.about-us {
    margin:auto;
    text-align:center;
}
ul{
    padding-left:0;
}
li {
    display:inline;
    list-style: circle;
    text-align: center
}
li:before{
    content:'\00B7';
    padding-right:5px;
    margin-left:5px;
}
h1{
    margin-bottom:0;
    margin-top:0;
}


.about-container{
    margin:auto;
   
}

.aboutUs{
     color:#FF0DFF;
     font-size:25px;
     letter-spacing:1px
}

.actual-question{
    color:#00FFA5
}

.login-button{
    color:#00FFA5
}
.about-heading{
    margin-top:0;
    font-size:40px;
    margin-bottom:0
}

.come-heading{
    margin-top:40px
}

@media (min-width: 720px){
    .login-botton{
        font-size:25px;
    }
    .start-button{
        font-size:25px;
    }
}