#appName{
    letter-spacing:5px;
    text-decoration: none;
    width:auto;
    padding:5px;
    top:5px;
    font-size:15vw;
    margin-top: 60px;
}

.pronunciations{
    padding:10px;
}
.first{
    color:#308BFF;
    
    font-size:5vw;
    letter-spacing:2px;
}

.second{
    color:#E8AC50;
    font-size:5vw;
    letter-spacing:2px;
}

.third{
    color:#00FFA5;
    font-size:5vw;
    letter-spacing:2px;
}

li{
    padding:3px;
    margin:2px;
    display:inline-block
}
