.question-box{
    margin:auto;
    text-align: center;
    height:300px;
}

.next-link {
    position:absolute;
    bottom:0;
}
.lesson{
    list-style:none;
    display:block;
}
li{
    list-style-type: none;
}
.inner-container{
    padding:10px;
    margin-top:50px;
}
 .logout-button{
    color:#FF0C6C;
    font-size:3vw;
} 

.start-button{
    color:#00FFA5;
    font-size:6vw;
    margin:10px;
}

.omega{
    font-size: 25px;
}

.select-box{
    font-size:6vw
}
.logout-box{
  text-align: left;
}

@media (min-width: 460px){
    .select-box{
        font-size:25px;
    }
    .start-button{
        font-size:25px;
    }
}

@media (min-width: 720px){
    .logout-button{
        font-size:25px;
    }

    
    
}
@media (max-width: 460px){
    .select-box{
        width:100%
    }
}

@media (min-width: 980px) {
    .question-box {
        margin-top:50px;
    }
}