.question-box{
    margin:auto;
    text-align: center;
    /* border: 1px solid black; */
    /* width: 500px; */
    height:300px;
}

.next-link {
    position:absolute;
    bottom:0;
}
.lesson{
    list-style:none;
    display:block;
}
li{
    list-style-type: none;
}
.inner-container{
    padding:10px;
    margin-top:50px;
}
 .logout-button{
    color:#FF0C6C;
    font-size:3vw;
} 

.start-button{
    color:#00FFA5;
    font-size:6vw;
    margin:10px;
}

.omega{
    font-size: 25px;
}

.select-box{
    font-size:6vw
}
.logout-box{
  text-align: left;
}